.section-title {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 80px;
}

.section-tag {
    display: inline-block;
    background: #EAFBF2;
    margin-top: 30px;
    padding: 10px 24px;
    font-size: 14px;
    font-width: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.section-tag h2 {
    font-size: 52px;
    font-width: 800;
    color: #101820;
    margin-bottom: 20px;
    line-height: 1.2;
}

.section-title p {
    font-size: 18px;
    color: #6B7280;
    line-height: 1.8;
    max-width: 650px;
    margin: auto;
}

/* project-section */

.projects {
    padding: 0 150px 0 150px;

}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin: 70px 0;
    padding: 45px;
    background: #fff;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 18px 45px rgba(0, 0, 0, .08);
    transition: .4s;
}

.project-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .15);
}

.project-item.reverse {
    flex-direction: row-reverse;
}

/* image */

.project-image {
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
}

.project-image img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .12);
    transition: transform .5s ease;
}

.project-item:hover {
    transform: scale(-4px);
}

.project-image img:hover {
    transform: scale(1.05);
}

.project-content {
    flex: 1;
}

.project-category {
    display: inline-block;
    padding: 8px 18px;
    border-radius: 30px;
    background: #EAFBF2;
    color: #0D5F42;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px;
}

.project-content h2 {
    font-size: 42px;
    color: #101820;
    margin-bottom: 20px;
    line-height: 1.2;
}

.project-content p {
    color: #666;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 28px;
}

/* features */

.project-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-bottom: 18px;
}

.project-features span {
    color: #444;
    font-weight: 600;
    font-size: 16px;
    transition: .3s;
}

.project-features span:hover {
    color: #2ECC71;
}

.project-buttons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.project-buttons a {
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 12px;
    font-weight: 600;
    transition: .35s;
}

.project-buttons a:first-child{
    background: #2ECC71;
    color: #fff;
    box-shadow:0 10px 25px rgba(46,204,113,.35);
}

.project-buttons a:first-child:hover{
    background:#27AE60;
    transform:translateY(-4px);
}

.project-buttons a:last-child{
    border:2px solid #2ECC71;
    color:#2ECC71;
    background:#fff;
}

.project-buttons a:last-child:hover{
    background:#2ECC71;
    color:#fff;
    transform:translateY(-4px);
}

@media(max-width:900px){

.section-title h2{
    font-size:38px;
}

.project-item,
.project-item.reverse{
    flex-direction:column;
    text-align:center;
    gap:40px;
    padding:30px;
}

.project-content h2{
    font-size:32px;
}

.project-features{
    grid-template-columns:1fr;
}

.project-tech{
    justify-content:center;
}

.project-buttons{
    justify-content:center;
}

.project-image img{
    width:100%;
}

}